@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900 & display: swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: #FFFFFF;
}

/* ---------- Navbar ---------- */

.navbar{
    padding: 8px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 25px rgba(167, 166, 174, 0.1);
}

.logo-image{
    height: 50px;
    width: 50px;
}

.nav-item{
    color: #264653;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    margin: auto 10px;
}

#basic-nav-dropdown{
    color: #264653 !important; 
    font-weight: 500 !important;
    text-decoration: none !important;
    list-style: none !important;
}

.nav-dropdown-master span{
    color: #264653;
}

.dropdown-item{
    margin: 0 0 5px 0;
}

.nav-profile .profile-user{
    display: block;
    color: #264653;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.stand-line-navbar{
    margin: auto 0;
    height: 30px;
}

.nav-profile .profile-user .profile-user-image{
    margin-right: 10px;
    height: 30px;
}

.nav-item:hover{
    font-weight: 600;
    color: #264653;
}

.nav-item i{
    margin-right: 10px;
}


/* ---------- End Navbar ---------- */


/* ---------- Header Content ---------- */

#header-simpin-content {
    margin: 0;
}

#header-simpin-content .header-simpin-greetings h1{
    margin: 14% 0 0;
    font-weight: 700;
    color: #000000;
}

#header-simpin-content .header-simpin-greetings h1 span{
    font-weight: 700;
    color: #264653;
}

#header-simpin-content .header-simpin-greetings p{
    margin: 1% 0;
    color: #000000;
}

#header-simpin-content .header-choose-analytics{
    margin: 6% 0 0;
}

.header-choose-analytics .btn-choose-analytics{
    padding: 10px 25px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: #264653;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.2s all ease-in-out;
}

.header-choose-analytics .active{
    background-color: #264653;
    border: 1px solid #000000;
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    color: #FFFFFF;
    font-weight: 600;
    border-radius: 30px;
    transition: 0.2s all ease-in-out;
}

.header-choose-analytics .btn-choose-analytics:hover{
    background-color: none;
    border: 2px solid #264653;
    color: #000000;
}

#header-simpin-content hr{
    margin: 2% 0 4%;
    color: #264653;
    border: #264653 solid 1px;
}

/* ---------- End Header Content ---------- */


/* ---------- Card Result Content  ---------- */

#simpin-overview{
    position: relative;
}

.row-result-total{
    margin: 0;
}

.row-result-total .card{
    height: 100%;
    width: 100%;
    padding: 4%;
}

.row-result-total .card-title{
    font-weight: 600;
    font-size: 18px;
}

.row-result-total .card-text{
    font-weight: 700;
    margin: 16% 0 0;
    font-size: 22px;
    text-align: center;
}

.row-result-total .col:nth-child(1) .bi-cash-coin{
    padding: 9px 12px;
    background-color: #0078FD;
    color: #FFFFFF;
    border-radius: 50px;
    margin: auto 0;
}

.row-result-total .col:nth-child(2) .bi-cash-coin{
    padding: 9px 12px;
    background-color: #FF623E;
    color: #FFFFFF;
    border-radius: 50px;
    margin: auto 0;
}

.row-result-total .col:nth-child(3) .bi-cash-coin{
    padding: 9px 12px;
    background-color: #FC026C;
    color: #FFFFFF;
    border-radius: 50px;
    margin: auto 0;
}

.row-result-total .col:nth-child(4) .bi-cash-coin{
    padding: 9px 12px;
    background-color: #00DFA2;
    color: #FFFFFF;
    border-radius: 50px;
    margin: auto 0;
}

.card-analytics-diagram{
    margin: 6% 0;
}

.card-analytics-diagram .card{
    height: 100%;
    width: 100%;
}

/* ---------- End Card Result Content  ---------- */


/* ---------- Login Content  ---------- */

.simpin-row-login{
    height: 100vh;
}

.simpin-col-login{
    margin: auto 0;
    position: relative;
}

.simpin-col-login h2{
    font-weight: 700;
}

.simpin-col-login p{
    font-weight: 500;
}

.simpin-col-login img{
    width: 32px;
    margin: auto 0;
}

.simpin-col-login .simpin-form-login{
    margin: 4% 0 0;
    width: 90%;
}

.simpin-col-login .form-label{
    font-weight: 500;
}

.simpin-col-login .simpin-form-email,
.simpin-col-login .simpin-form-password{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.simpin-col-login .simpin-content-link-register .simpin-content-hyperlink{
    text-decoration: none;
}

.simpin-col-login .simpin-content-link-register .simpin-content-hyperlink:hover{
    text-decoration: none;
}

.simpin-col-login .simpin-content-link-register p{
    color: #264653;
    font-weight: 500;
    padding: 2% 0;
}

.simpin-col-login .simpin-content-loggedin button{
    margin: 0;
    width: 90%;
    height: 48px;
    background: #264653;
    border-radius: 10px;
    border: 1px solid #264653;
}

.simpin-col-login .simpin-content-loggedin p{
    margin: auto 0;
    font-weight: 600;
    color: #FFFFFF;
}

.simpin-login-image img{
    position: absolute;
    height: 100vh;
    right: 0;
    top: 0;
    width: 48%;
}

/* ---------- End Login Content  ---------- */


/* ---------- Register Content  ---------- */

.simpin-row-register{
    height: 112vh;
}

.simpin-col-register{
    margin: auto 0;
    position: relative;
}

.simpin-col-register h2{
    font-weight: 700;
}

.simpin-col-register p{
    font-weight: 500;
}

.simpin-col-register img{
    width: 32px;
    margin: auto 0;
}

.simpin-col-register .simpin-form-login{
    margin: 4% 0 0;
    width: 90%;
}

.simpin-col-register .form-label{
    font-weight: 500;
}

.simpin-col-register .simpin-form-name,
.simpin-col-register .simpin-form-phone-number,
.simpin-col-register .simpin-form-member-number,
.simpin-col-register .simpin-form-registration-date,
.simpin-col-register .simpin-form-email,
.simpin-col-register .simpin-form-password,
.simpin-col-register .simpin-form-confirm-password{
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.simpin-col-register .simpin-content-loggedin button{
    margin: 4% 0 0;
    width: 100%;
    height: 48px;
    background: #264653;
    border-radius: 10px;
    border: 1px solid #264653;
}

.simpin-col-register .simpin-content-loggedin p{
    margin: auto 0;
    font-weight: 600;
    color: #FFFFFF;
}

.simpin-col-register-image img{
    position: absolute;
    right: 0;
    top: 0;
    height: 120vh;
    width: 46%;
}

/* ---------- End Register Content  ---------- */


/* ---------- Profile User Content  ---------- */

.simpin-title{
    margin: 10% 0 0;
    font-size: 32px;
}

#simpin-profile-user{
    margin: 2% 0 0;
    border: 1.5px solid #264653;
    border-radius: 10px;
}

#simpin-profile-user .row{
    padding: 1.5% 6%;
    width: auto;
}

#simpin-profile-user .row .col{
    margin: auto 0;
}

#simpin-profile-user .row .col i{
    margin-right: 4%;
}

#simpin-profile-user .row .col:nth-child(2) p {
    margin: 2% 0;
}

#simpin-profile-user .row .col:nth-child(3) p {
    margin: 2% 0;
}

#simpin-profile-user .row .col:nth-child(4) .btn-edit-profile {
    padding: 4% 0;
    width: 50%;
    font-weight: 500;
    background-color: #264653;
    border: none;
}

/* ---------- End Profile User Content  ---------- */


/* ---------- Principal Saving Table Content  ---------- */

.btn-add-principal-saving{
    background-color: #264653;
    border: none;
    height: 74%;
    font-weight: 500;
}

.btn-add-principal-saving:hover{
    background-color: #264653;
}

.btn-search{
    background-color: #264653;
    border: none;
}

.simpin-principal-saving-table {
    margin: 4% 0 6%;
    text-align: center;
    border: #01162F;
}

.simpin-principal-saving-table i{
    margin: 0 4% 0;
    font-size: 20px;
}

.simpin-principal-saving-table .bi-pencil-square{
    padding: 1% 6%;
    background-color: #0078FD;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.simpin-principal-saving-table .bi-trash{
    padding: 1% 6%;
    background-color: #b34512;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------- End Principal Saving Table Content  ---------- */


/* ---------- Mandatory Saving Table Content  ---------- */

.btn-add-mandatory-saving{
    background-color: #264653;
    border: none;
    height: 74%;
    font-weight: 500;
}

.btn-add-mandatory-saving:hover{
    background-color: #264653;
}

.btn-search{
    background-color: #264653;
    border: none;
}

.simpin-mandatory-saving-table {
    margin: 4% 0 6%;
    text-align: center;
    border: #01162F;
}

.simpin-mandatory-saving-table i{
    margin: 0 4% 0;
    font-size: 20px;
}

.simpin-mandatory-saving-table .bi-pencil-square{
    padding: 1% 6%;
    background-color: #0078FD;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

.simpin-mandatory-saving-table .bi-trash{
    padding: 1% 6%;
    background-color: #b34512;
    color: #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}

/* ---------- End Mandatory Saving Table Content  ---------- */


/* ---------- Responsive Design ---------- */

@media only screen and (min-width : 320px) and (max-width : 480px) {

    .stand-line-navbar{
        display: none;
    }
    

}

/* ---------- End Responsive Design ---------- */